<div>
   <a href="/word/@Spelling"><span class="rezulto-vorto">@Spelling</span></a>
   <span class="meaning">@Meaning</span>
</div>

@code {

    [Parameter, EditorRequired]
    public string Spelling { get; set; } = null!;

    [Parameter, EditorRequired]
    public string Meaning { get; set; } = null!;

}