/docs/
/lib/
/bin/
/.shards/
*.dwarf
naidira
editor
parse
bin/
obj/
/packages/
riderModule.iml
/_ReSharper.Caches/
node_modules/
.pnpm-debug.log
Client/wwwroot/css/app.css
Client/wwwroot/css/app.css.map
Client/wwwroot/Okena.js
