@page "/book"
@layout BookLayout

<p>
    This book is an introduction to Naidira. It is a formal language (with a reference parser accessible from this
    website) that is designed to be expressive without syntactic ambiguity. It is also a sister language to my earlier
    language, <a href="http://krestai.5am.ooo" target="_blank">Krestia</a>, and shares some of its lexicon with it.
</p>

<p>
    In terms of usage, it co-exists with Krestia, in a state of diglossia. While Krestia is used for writing regular
    prose, Naidira's lexicon and grammar are biased towards artistic expression; therefore, it is used for writing
    poetry and lyrics.
</p>

<p>
    This book goes over Naidira's phonology, orthography, and grammar. To learn more about any of these aspects,
    use the table of contents on the left to navigate to a section.
</p>