@page "/"

<PageTitle>Naidira</PageTitle>

<p>
    Naidira is my second constructed language (after my first one, <a href="http://krestia.5am.ooo">Krestia</a>). Like
    Krestia, it is designed to be a formal language like Lojban and has a minimalistic phonetic inventory.
</p>

<ul>
    <li>
        <a href="/wordlist">Full alphabetical list</a>
    </li>
    <li>
        <a href="/typedlist">Alphabetical grouped by word type</a>
    </li>
</ul>