@inherits LayoutComponentBase

<div class="book-page">
    <div class="titolo">
        <h1>
            <a href="/">Naidira</a>
        </h1>
    </div>

    <SearchBar/>

    <TableOfContents/>

    <main class="enhavo">
        @Body
    </main>
</div>