@page "/wordlist"
@using Naidira.Interface
@inject HttpClient HttpClient

@if (Words == null) {
   <p>Loading</p>
} else {
   <p class="centro">The dictionary contains @Words.Count words.</p>
   <WordTable Words="Words"/>
}

@code {
   private List<DictionaryEntry>? Words { get; set; }

   protected override async Task OnAfterRenderAsync(bool firstRender) {
      if (firstRender) {
         Words = await HttpClient.GetFromJsonAsync<List<DictionaryEntry>>("/api/alphabetical");
         StateHasChanged();
      }
   }

}