@page "/wordlist"
@using Naidira.Interface
@inject HttpClient HttpClient

@if (Words == null) {
   <p>Loading</p>
} else {
   foreach (var word in Words) {
      <SearchResult
         Spelling="@word.Spelling"
         Meaning="@word.Meaning"/>
   }
}

@code {
   private List<DictionaryEntry>? Words { get; set; }

   protected override async Task OnAfterRenderAsync(bool firstRender) {
      if (firstRender) {
         Words = await HttpClient.GetFromJsonAsync<List<DictionaryEntry>>("/api/alphabetical");
         StateHasChanged();
      }
   }

}