@page "/search/{query}"
@using Naidira.Interface
@inject HttpClient HttpClient

<p>Search results for "@Query":</p>
@if (Results is null) {
    <p>Loading results</p>
} else {
    @foreach (var result in Results!.WordResults) {
        <SearchResult Spelling="@result.Spelling"
                      Meaning="@result.Meaning"/>
    }
}

@code {

    [Parameter]
    public string Query { get; set; } = null!;

    private SearchResults? Results { get; set; }

    protected override async Task OnParametersSetAsync() {
        Results = null;
        StateHasChanged();
        Results = await HttpClient.GetFromJsonAsync<SearchResults>($"/api/search/{Query}");
    }

}